/* Custom styles for the nav section */


.navbar {
    min-height: 80px;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
	/* color: var(--cool-gray); */
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Custom styles for the footer section */
.footer {
	background-color: #0F204B;
}

.footer .social-icons a {
	color: #fff;
	transition: color 0.3s;
}

.footer .social-icons a:hover {
	color: #b30000;
}

/* Custom styles for the back to top button */

.back-to-top {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: flex;
	width: 45px;
	height: 45px;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	z-index: 99;
}
.back-to-top:hover {
	background-color: #0056b3;
	color: #fff;
}

.back-to-top.show {
	opacity: 1;
	visibility: visible;
}
